<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!--

    Этот конфигурационный файл предназначен для тестов и не влияет на другие модули.

    -->

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.hibernate.SQL" level="WARN"/>
        <Logger name="org.hibernate.loader.hql" level="WARN"/>
    </Loggers>
</Configuration>